// ------------------------------------------------------------
// Variables.
// ------------------------------------------------------------

// Fonts.
$font-base: "Fira Sans", Arial, sans-serif;
$font-ruda: "Ruda", "Fira Sans", Arial, sans-serif;

// Generic Colors.
$color-dark: #222;
$color-lighter: #f6f6f6;
$color-red: #dd3333;
$color-base: #414141;
$color-dark-grey: #666666;
$color-grey: #999999;
$color-light: #94979c;
$color-thumb-up: #6ecb0a;
$color-thumb-down: #fe6969;

// Share Button colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-linkedin: #0077b5;
$color-pinterest: #ca212a;
$color-google: #eb4026;

// Header variables.
$header-height: 45px;
$header-zindex: 1050;

// Gutters.
$gutters: 15px;

// Container widths.
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

// Sidebar.
$sidebar-width: 300px;

// Boxes shadows.
$box-shadow: 0 0 5px rgba(#000, 0.1);
