// ------------------------------------------------------------
// Page wrapper.
// ------------------------------------------------------------
.wrapper {
	position: relative;
	width: 100%;
	padding-top: $header-height + $gutters;
}

// ------------------------------------------------------------
// Page content area.
// ------------------------------------------------------------
.main {
	@extend %clearfix;
	min-height: 1px;
	position: relative;
	@include screen-md { width: $container-md - $sidebar-width - ($gutters * 3); float: left; }
	@include screen-lg { width: $container-lg - $sidebar-width - ($gutters * 3); }

		& + .sidebar { margin-left: $gutters; }
}
