// ------------------------------------------------------------
// Single post.
// ------------------------------------------------------------
.single-post .post {
	@include box-shadow($box-shadow);
	@include box-sizing(border-box);
	width: 100%;
	background-color: #fff;

	// Post title.
	.title {
		margin: 0 auto;
		padding: $gutters $gutters 0;
		text-align: center;
	}

	// Post Meta.
	.meta {
		margin: 0 auto;
		padding: 10px $gutters 0;
		text-align: center;
	}

	// Thumbnail.
	.attachment-single-thumb {
		margin: 0 auto;
		padding: $gutters 0 0;
		line-height: 0;
	}

	// Post content.
	.content {
		margin: 0 auto;
		padding: $gutters $gutters 0;
		text-align: justify;

		// Make sure to remove all paragraphs margins.
		p { margin: 0 auto; }
		p + p { margin-top: $gutters; }
		.wp-caption + p, p + .wp-caption { margin-top: $gutters; }
	}

	// We make sure images never take more than 100% width.
	img { max-width: 100%; height: auto; }

	// Make sure to reduce everything to 728px on larger screens.
	@include screen-md {
		.title, .meta, .content { max-width: 728px; }
	}
}
